table {
    width: 100%;
    border-collapse: collapse;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-bordered tr:nth-child(even) {
    background-color: #007bff; 
    color: white; 
}

.table-bordered td {
    text-transform: uppercase; 
}
